.greetings{   
    font-size: 50px;
    text-align: center;
}

.greetings img{
    display: block;
    max-width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.experience{
    font-size: 40px;
}

.obsessed{
    font-size: 20px;
}

.projects{
    display: none;
}

.under-construction{
    display: none;
    text-align: center;
    font-size: 50px;
}

.resources{
    display: none;
    text-align: center;
    font-size: 50px;
}

.resources a{
    font-size: 20px;
    display: block;
    text-align: left;

}

.fostering{
    display: none;
}

.loader {
    display: inline-block;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    border-bottom: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }